.container {
  width: 100%;
  max-width: 1200px; /* Largura máxima do conteúdo */
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem; /* Espaçamento lateral padrão (32px) */
  padding-right: 2rem; /* Espaçamento lateral padrão (32px) */
}

.navbar {
  background-color: #6f71bc;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}
